.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <====== 동네 버튼 / Navigation ======> */

.dong_container {
  margin-bottom: 20px;
}

.dongButton {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 100;
  margin: 3px 3px 3px 1px;
}

.dongButton:hover {
  background-color: hsl(var(--origin-color), 80%, 65%);
}

/* <====== Navigation Bar ======> */

.Nav {
  position: absolute;
  right: 4%;
  top: 250px;
  width: 200px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border: black 2px solid;
  border-radius: 5px;
  padding: 0.5%;
  text-align: center;
  min-width: 155px;
}

.contents {
  width: 100%;
}

.dong {
  margin-bottom: 4px;
  font-weight: 800;
}

/* <====== Map ======> */

.maps {
  background-color: hsl(var(--origin-color), 30%, 85%);
  margin-top: 20px;
  margin-bottom: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
}

/* <====== Screen size resizing ======> */

@media screen and (max-width: 800px) {
  .dongButton {
    font-size: 15px;
  }
  .maps {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .Nav {
    width: 120px;
    height: auto;
    min-width: 80px;
  }
  .dongButton {
    font-size: 10px;
  }
}
