.container {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  height: 20px;
}
.notice {
  position : absolute;
  animation-name: notice;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: normal;
  height: 20px;
  margin-left: 90%;
  overflow: hidden;
}

@keyframes notice {
  from {
    margin-left: 85%;
  }
  to {
    margin-left: -90%;
  }
}

@media screen and (max-width:500px) {
  .container{
    visibility :hidden;
  }
}